main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.controls {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
}

.manifestor,
.way-back,
.vessel,
.confirmation {
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    margin-right: 1em;
    text-align: center;
}

.manifestor,
.way-back,
.vessel {
    background: #333;
    cursor: pointer;
}

.manifestor:hover,
.way-back:hover,
.vessel:hover {
    background: #555;
}

.manifestor:disabled {
    background: #777;
    color: #ccc;
    opacity: 0.6;
    cursor: default;
}

.confirmation {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.confirmation:empty {
    display: none;
}

pre {
    margin-top: 4em;
    font-family: inherit;
    font-size: 0.5rem;
    text-transform: none;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}