main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    height: 20vh;
    font-size: 6.7vw;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.container {
    height: 100%;
    padding: 20vh 0;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#enterWrapper {
    position: relative;
    display: inline-block;
}

#title-top {
    align-items: flex-start;
    translate: -0.5vw -1.3vh;
    top: 0;
}

#title-bottom {
    align-items: flex-end;
    translate: -0.5vw 0.8vh;
    bottom: 0;
}

#enterHome {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#enterHome:hover {
    color: inherit;
    text-decoration: none;
}


#enterText {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 5vw;
    font-weight: 700;
    z-index: 2;
    pointer-events: auto;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    visibility: hidden;
}

#enterText:hover {
    color: var(--color-link-hover);
    text-transform: var(--text-transform-link-hover);
}

#skyGif {
    max-width: 60vw;
    max-height: 60vh;
    width: auto;
    height: auto;
    display: block;
    position: relative;
}

.page-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
    height: 100%;
}

.page-link img {
    max-width: none;
    height: 100px;
    width: auto;
}

.page-link p {
    margin: 0;
}

@media (max-width: 768px) {
    #title-top {
        translate: -0.5vw -0.8vh;
        top: 0;
    }

    #title-bottom {
        translate: -0.5vw 0.4vh;
        bottom: 0;
    }

    .page-link {
        width: 100%;
    }
}