:root {
  --font-family-main: 'Apolline Std', monospace;
  --color-text: #e6e6e6;
  --color-bg: #000;
  --color-link-hover: red;
  --color-img-border: #444;
  --max-width-main: 700px;
  --padding-body: 2em;
  --text-transform-body: lowercase;
  --text-transform-link: uppercase;
}

body {
  margin: 0;
  padding: var(--padding-body);
  font-family: var(--font-family-main);
  color: var(--color-text);
  background-color: var(--color-bg);
  max-width: var(--max-width-main);
  margin-inline: auto;
  text-transform: var(--text-transform-body);
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  border: 1px solid var(--color-img-border);
}

a {
  text-transform: var(--text-transform-link);
}

a:hover {
  color: var(--color-link-hover);
}