body {
  margin: 0;
  padding: 2em;
  font-family: 'apolline_regular', monospace;
  color: #e6e6e6;
  background-color: #000;
  max-width: 700px;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  border: 1px solid #444;
}