<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title & Meta Description -->
<title>{{ page.title | default: site.title }}</title>
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="keywords" content="art, research, digital media, speculative worldbuilding">
<meta name="theme-color" content="#EAF4F6">

<!-- Open Graph (Facebook / general social) -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ '/assets/images/og-image.jpg' | relative_url }}">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.description | default: site.description }}">
<meta name="twitter:image" content="{{ '/assets/images/og-image.jpg' | relative_url }}">
<meta property="twitter:domain" content="kvnchpl.com">
<meta property="twitter:url" content="{{ page.url | absolute_url }}">

<!-- Custom page data  -->
<meta name="link-data" content="/_data/substation.json">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/apolline.css' | relative_url }}">

<!-- Favicons -->
<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/images/favicon/android-chrome-512x512.png' | relative_url }}">