/* sansui.css */
:root {
    --tile-size: 48px;
    --grid-width: 10;
    --grid-height: 10;
    --grid-gap: 0px;
    --border-width: 2px;
    --font-size: 1.5rem;
    --button-size: calc(var(--tile-size) * 0.75);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #f2f2f2;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: calc(var(--tile-size) * 0.5);
    position: relative;
}

#pathCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-container {
    position: relative;
    width: calc(var(--tile-size) * var(--grid-width));
    height: calc(var(--tile-size) * var(--grid-height));
}

#map {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), var(--tile-size));
    grid-template-rows: repeat(var(--grid-height), var(--tile-size));
    position: relative;
    gap: var(--grid-gap);
    border: var(--border-width) solid black;
    width: calc(var(--tile-size) * var(--grid-width));
    height: calc(var(--tile-size) * var(--grid-height));
}

.cell {
    width: var(--tile-size);
    height: var(--tile-size);
    position: relative;
}

.cell .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.feature {
    background-size: cover;
}

.player {
    z-index: 10;
    background-size: cover;
}

#pathCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--tile-size) * var(--grid-width));
    height: calc(var(--tile-size) * var(--grid-height));
    z-index: 1;
    pointer-events: none;
}

#reset {
    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--tile-size) * 0.5);
    padding: calc(var(--tile-size) * 0.1) calc(var(--tile-size) * 0.3);
    cursor: pointer;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--tile-size) * 0.2);
    margin-top: calc(var(--tile-size) * 0.5);
}

.arrow {
    display: none;
    font-size: var(--button-size);
    cursor: pointer;
}

@media (max-width: 600px) {
    #controls {
        display: grid;
        grid-template-areas:
            " .  up  . "
            "left reset right"
            " . down . ";
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    }

    .arrow,
    #reset {
        display: block;
        font-size: var(--button-size);
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: var(--button-size);
    }

    #up {
        grid-area: up;
    }

    #down {
        grid-area: down;
    }

    #left {
        grid-area: left;
    }

    #right {
        grid-area: right;
    }

    #reset {
        grid-area: reset;
    }
}