html {
    scroll-behavior: var(--scroll-behavior);
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: var(--body-padding);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

h1 {
    font-size: var(--title-size-desktop);
    text-transform: uppercase;
    text-align: center;
}

p {
    text-transform: lowercase;
}

a {
    color: var(--link-color);
    text-decoration: none;
    white-space: nowrap;
    transition: color var(--transition-duration) ease-in-out;
}

a:focus {
    outline: 2px solid var(--focus-color);
}

a:hover {
    color: var(--link-hover-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#site-nav {
    margin-bottom: var(--gap-size-desktop);
    font-size: var(--nav-font-size);
    font-weight: var(--font-weight);
}

#site-nav a {
    text-transform: uppercase;
    margin: 0 0.5rem;
}

.centered-container {
    max-width: var(--max-container-width-desktop);
    margin: 0 auto;
    text-align: center;
}

.slideshow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-container-width-desktop);
    margin: var(--slideshow-spacing);
    overflow: hidden;
    text-align: center;
}

.slideshow button {
    background: none;
    border: none;
    font-size: var(--slideshow-btn-font-size);
    color: var(--text-color);
    cursor: pointer;
    z-index: 1;
}

.slideshow button:hover {
    color: var(--link-hover-color);
}

.slides-wrapper {
    flex: 1;
}

.slide {
    display: none;
    text-align: center;
}

.slide.active {
    display: block;
}

.slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content {
    margin: var(--content-spacing-top) auto 0 auto;
    text-align: left;
    max-width: var(--max-content-width-desktop);
}

.content p:first-of-type {
    margin-top: var(--content-first-para-spacing-top);
}

#project-date {
    margin: 0 auto;
    text-align: left;
    max-width: var(--max-content-width-desktop);
}

@media (max-width: 768px) {
    h1 {
        font-size: var(--title-size-mobile);
    }

    .centered-container {
        max-width: var(--max-container-width-mobile);
    }

    .slideshow {
        max-width: var(--max-container-width-mobile);
    }

    .content {
        max-width: var(--max-content-width-mobile);
    }
}