#site-nav {
  margin-bottom: var(--gap-size-desktop);
  font-size: var(--nav-font-size);
  font-weight: var(--font-weight);
}

#site-nav a {
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0 0.5rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

#site-nav a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

#site-nav span {
  color: var(--text-color);
}