<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="https://kvnchpl-thoughts.tumblr.com/">Thoughts</a></li>
        <li><a href="/writings">Writings</a></li>
        <li><a href="/readings">Readings</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    {{ content }}
    {% include footer.html %}
  </body>
</html>