<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  <header role="banner">
    <nav id="site-nav" role="navigation" aria-label="Main menu">
      <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}current{% endif %}">HOME</a>
      <span>/</span>
      <a href="{{ '/projects/' | relative_url }}" class="{% if page.url == '/projects/' %}current{% endif %}">PROJECTS</a>
      <span>/</span>
      <a href="https://kvnchpl-thoughts.tumblr.com/">THOUGHTS</a>
      <span>/</span>
      <a href="{{ '/writings/' | relative_url }}" class="{% if page.url == '/writings/' %}current{% endif %}">WRITINGS</a>
      <span>/</span>
      <a href="{{ '/readings/' | relative_url }}" class="{% if page.url == '/readings/' %}current{% endif %}">READINGS</a>
      <span>/</span>
      <a href="{{ '/contact/' | relative_url }}" class="{% if page.url == '/contact/' %}current{% endif %}">CONTACT</a>
    </nav>
  </header>

  <main id="main-content" role="main">
    {{ content }}
  </main>

  <div id="image-overlay"></div>

  <footer role="contentinfo">
    {% include footer.html %}
  </footer>

  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
</body>

</html>